[General]

## JSON-encoded Mini.RegionInstall server list.
# Setting type: String
# Default value: {\"CurrentRegionIdx\":0,\"Regions\":[]}
Regions = {\"CurrentRegionIdx\":0,\"Regions\":[{\"$type\":\"StaticHttpRegionInfo, Assembly-CSharp\",\"Name\":\"Modded EU (MEU)\",\"PingServer\":\"https://au-eu.duikbo.at\",\"Servers\":[{\"Name\":\"Http-1\",\"Ip\":\"https://au-eu.duikbo.at\",\"Port\":443,\"UseDtls\":false,\"Players\":0,\"ConnectionFailures\":0}],\"TranslateName\":1003},{\"$type\":\"StaticHttpRegionInfo, Assembly-CSharp\",\"Name\":\"Modded NA (MNA)\",\"PingServer\":\"https://www.aumods.org\",\"Servers\":[{\"Name\":\"Http-1\",\"Ip\":\"https://www.aumods.org\",\"Port\":443,\"UseDtls\":false,\"Players\":0,\"ConnectionFailures\":0}],\"TranslateName\":1003},{\"$type\":\"StaticHttpRegionInfo, Assembly-CSharp\",\"Name\":\"Modded Asia (MAS)\",\"PingServer\":\"https://au-as.duikbo.at\",\"Servers\":[{\"Name\":\"Http-1\",\"Ip\":\"https://au-as.duikbo.at\",\"Port\":443,\"UseDtls\":false,\"Players\":0,\"ConnectionFailures\":0}],\"TranslateName\":1003}]}

## Comma-separated official regions to remove. Kept empty so Nebula does not
## take away a user's ability to connect to vanilla servers.
# Setting type: String
# Default value:
RemoveRegions =
